.intro-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #17c0f8; /* Dark Blue Background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  overflow: hidden;
}

.intro-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.intro-text {
  color: rgb(0, 0, 0);
  font-family: cursive;
  font-size: 2rem;
  font-weight: bold;
  opacity: 0.9;
  position: relative;
  z-index: 1;
}
